.container {
  max-width: 1080px;
  width: 800px;
  margin: 30px auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.5;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 150px;
  height: 150px;
  background-color: aqua;
  border-radius: 50%;
  overflow: hidden;
}

.nameContainer {
  margin-left: 30px;
}

.content {
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 25px;
}

.img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
}

.educationBox {
  padding: 50px;
  text-align: center;
  margin: 30px auto;
  background-color: #e6e6e6b1;
}

.para {
  margin: 20px auto;
  width: 800px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .educationBox {
    width: 100%;
    padding: 0px;
  }
  .para {
    width: 90%;
    padding: 20px;
  }
  .imgContainer {
    width: 125px;
    height: 125px;
    margin-left: 20px;
  }
  .nameContainer {
    margin: 0px;
    margin-left: 10px;
    padding: 10px;
  }
  .nameContainer h1 {
    font-size: 1.5rem;
  }
}
