.container {
  max-width: 1080px;
  width: 800px;
  margin: 30px auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 150px;
  height: 150px;
  background-color: aqua;
  border-radius: 50%;
  overflow: hidden;
}

.nameContainer {
  margin-left: 30px;
}

.content {
  margin-top: 20px;
  padding: 20px;
}

.img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
}

.educationBox {
  padding: 50px;
  text-align: center;
  margin: 30px auto;
  background-color: #6b6969;
}

.para {
  margin: 20px auto;
  width: 800px;
}
