.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.441);
  color: inherit;
  transition: 0.3s;
  padding: 20px;
  z-index: 2;
}
.active {
  left: 0;
}

.sidebar ul {
  list-style: none;
  margin-top: 50px;
}

.sidebar li {
  width: auto;
  text-align: center;
  margin: 10px 0px;
  padding: 7px 0px;
  cursor: pointer;
  font-size: 1rem;
}
.sidebar li:hover {
  padding-bottom: 5px;
  font-weight: 600;
  text-decoration: underline;
}
