* {
  margin: 0;
  padding: 0;
  /* background-color: #f6f0df; */
}

:root {
  --secondary-font: "Playfair Display", serif;
  /* Main */
  --bg-main: #ffffff;
  --text-main: #111111;

  /* Inverted sections (like navbar, cards, etc.) */
  --bg-inverse: #111111;
  --text-inverse: #ffffff;

  /* Card */
  --card-bg: #f5f5f5;
  --card-text: #111111;

  /* Border */
  --border-color: #ddd;
}

body {
  width: 100%;
  margin: 0px auto;
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: 0.3s;
}

body.dark {
  --bg-main: #111111;
  --text-main: #ffffff;

  --bg-inverse: #ffffff;
  --text-inverse: #111111;

  --card-bg: #1e1e1e;
  --card-text: #ffffff;

  --border-color: #444;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
  cursor: pointer;
}

.app.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0px auto;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.box {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 50%;
  padding: 0px;
}

.objInfo {
  line-height: 1.5;
  font-family: "Playfair Display", serif;
  color: #555555;
}

.btns {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: 1.1px solid #000;
  border-radius: 5px;
}
.btns:hover {
  background-color: #000;
  color: #fff;
}

.imgbox {
  height: 280px;
  width: 280px;
  overflow: hidden;
  margin-right: 70px;
}
.imgbox1 {
  display: none;
}

.realImg {
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(40deg, rgb(79, 220, 255), white);
  display: inline-block;
  overflow: hidden;
}

.linez {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}

.line {
  width: 32%;
  height: 3px;
  margin-top: 15px;
  background-color: var(--bg-inverse);
}

.links {
  text-decoration: none;
  color: #000;
}

.icons {
  width: 20px;
  height: 20px;
}

.information {
  line-height: 1.5;
  padding-bottom: 20px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

footer {
  background-color: #e6e6e6b1;
  color: var(--text-color);
  width: 100%;
  height: 50px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.icon {
  padding: 5px;
  border: 2px solid #000;
  border-radius: 55%;
  cursor: pointer;
  margin: 0px 10px;
  font-size: 0.01rem;
}

.mode {
  border: none;
  cursor: pointer;
}

.hr {
  display: none;
}

@media screen and (max-width: 900px) {
  .information {
    font-size: 1.3rem;
    padding: 5px 0px 15px;
    padding-left: 20px;
  }
  .mode {
    display: none;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgbox1 {
    display: block;
    height: 100px;
    width: 100px;
    margin-top: -30px;
  }
  .imgbox {
    display: none;
  }
  .linez {
    display: none;
  }
  .brand {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 2.25rem;
    font-weight: 600;
  }
  .info {
    margin: 0px;
    width: 100%;
  }
  .objInfo {
    padding: 0px 20px;
    text-align: center;
  }
  .btns {
    display: none;
  }
  .hr {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
  }
}
