* {
  margin: 0;
  padding: 0;
  /* background-color: #f6f0df; */
}

:root {
  --secondary-font: "Playfair Display", serif;
  --secondary-color: #4e4e4e;
}

body {
  width: 100%;
  margin: 0px auto;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0px auto;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.box {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 50%;
  padding: 0px;
}

.objInfo {
  line-height: 1.5;
}

.btns {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: 1.1px solid #000;
  border-radius: 5px;
}
.btns:hover {
  background-color: #000;
  color: #fff;
}

.imgbox {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.realImg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  text-decoration: none;
  color: #000;
}

.icons {
  width: 20px;
  height: 20px;
}

.information {
  line-height: 1.5;
  padding-bottom: 20px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

footer {
  background-color: #e6e6e6b1;
  color: black;
  width: 100%;
  height: 50px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.icon {
  padding: 5px;
  border: 2px solid #000;
  border-radius: 55%;
  cursor: pointer;
  margin: 0px 10px;
  font-size: 0.01rem;
}

@media screen and (max-width: 900px) {
  .information {
    font-size: 1.3rem;
    padding: 5px 0px 15px;
    padding-left: 20px;
  }
}
